body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f8d1de 0%, #b9f6f4 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  font-size: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.generator{
  background-image: linear-gradient(-225deg, #9adeda 0%, #e3e8a2 100%);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(245, 244, 244, 0.863);
  padding: 30px;
  max-width: 400px;
  width: 110%;
  box-sizing: border-box;
}
.generator__header{
  text-align: center;
  color: rgb(26, 20, 137);
  margin-bottom: 20px;
  font-size: 28px;
}
.generator__password{
  background-color:#c4b6ed;
  padding: 13px 13px;
  color: #000000;
  margin-bottom: 10px;
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
button{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content:center;
}
.copy__btn{
  color: #e7faf9;
  background: #306c97;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background 0.3s;
  margin-bottom: 10px;
}
.copy__btn:hover {
  background: #253a6a;
}
.generator__btn{
  background: #2e9368ce;
  border: none;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;

}
.form-group{
  display: flex;
  justify-content: space-between;
  color: gre;
  margin-bottom: 15px;
}